*{
    padding: 0;
    margin: 0;
    font-family: Geometria;
}
.container{
    margin: 0 100px;
}
p{
    font-size: 15px;
    font-weight: 400;
    color:#919ca6 ;
}
/* 顶部导航栏 */
.head-bar{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.bar-left{
    font-weight: 700;
    font-size: 18px;
}
.bar-right{
    display: flex;
    flex-direction: row;
}
.right-list{
    width: 110px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}
.right-list:hover{
    background-color: #40c4ff;
    color: white;
}
/* 顶部titile 背景图 */
.head-title{
    background-image: url("./imgs/bg-iamges.jpg");
    height: 600px;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-title>h1{
    font-size: 46px;
    font-family: Geometria;
    margin-bottom: 30px;
}
.head-title>p{
    width: 80%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
/* 主体 */
.content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-top{
    margin-bottom: 30px;
}
.content-title {
    font-size: 30px;
    font-weight: 700;
    font-family:Geometria ;
}
.content-p{
    border-bottom: 1px solid #919ca6;
    padding-bottom: 10px;
}
.border-bottom{
    border-bottom: 1px solid #919ca6;
}
.message{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 10px;
}
.name{
    font-weight: 500;
}
.padding{
    padding:10px 0;
}
/*主体下部分 */
.main-content{
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin-bottom: 50px;
}
.box-title{
    font-size:28px;
    font-weight: 700;
}

.info{
    word-spacing: 10px;
}
.font-color{
    color:#919ca6 ;
}
.data{
    color:#919ca6 ;
}
.post{
    color:#919ca6 ;
}
img{
    width: 100%;
}
.circle{
    display: flex;
}
.circle-span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4489ff;
    border:1px solid #4489ff;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    cursor: pointer;
}
.circle-span:hover{
    background-color: #4489ff;
    color: #fff;
}
footer{
    height: 90px;
    background-color: black;
    color: white;
    display: flex!important;;
    flex-direction: row;
    justify-content: space-between;
}

.foot-left{
    display: flex
    /* width: 500px; */
}
.left-list{
    margin-right: 10px;
    width: 110px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.icon{
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
}
.foot-right{
    height: 90px;
    line-height: 90px;
}
svg{
    width: 25px;
    height: 25px;
}
