*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #52616b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.container{
    height:  800px;
    width:  320px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
.container-top{
    height: 650px;
    border-bottom: 1.5px solid #d1d1d1;
}
.food{
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-right{
    display: flex;
    align-items: center;
}
.money{
    margin-right: 5px;
}
.box{
    width: 80px;
    height: 30px;
    background-color: black;
    border-radius: 15px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    font-size: 20px;
    font-weight: 400;
    background: none;
    color: white;
    border: none;
    outline: none;
}
.number{
    color: white;
    font-size: 20px;
}
.container-bottom{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.top-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.confirm-btn{
    width: 280px;
    height: 40px;
    font-size: 16px;
    background-color:#0d9e65;
    border-radius: 20px;
}