.header-nav {
    /* height: 80px; */
    flex-wrap: wrap;
}

.header-left {
    height: 80px;
    line-height: 80px;
}

.header-right {
    display: none;
    flex-direction: column;
    width: 100vw;
    order: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.header-right-btn {
    display: block;
}