<div>this is child</div>
{%if flag%}
<div>flag is true</div>
{%else%}
<div>flag is false</div>
{%endif%}

{%for item in news %}
<div class={{item.id}}>{{item.name}}</div>
<div >{{item.id}}</div>
{%endfor%}